{% block form-new-order %}
{% load static %}
    <!-- Start main -->
    <!-- <main class="py-6 bg-surface-secondary"> -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="vstack gap-8 mt-4">
              {% if message or message_parts %}
                  <div class="alert alert-warning" role="alert">{{ order_form.errors }} {{ message_parts }}</div>
              {% endif %}
              <div class="container-fluid max-w-screen-md vstack gap-5">

      <!-- Start form -->
            <form id="order_form" action="{% url 'create-order' %}" method="post">
                {% csrf_token %}
                <div class="row gx-4 gy-5 pb-5">
                  <div class="">
                    Order ID: {{ order_form.number }}
                  </div>
                  <div class="col-md-6"><label class="form-label">Name</label> {{ order_form.name}}
                    <span class="d-block mt-2 text-sm text-muted">Short name of the product</span>
                  </div>
                  <div class="col-md-6"><label class="form-label">Type</label> {{ order_form.type}}
                    <span class="d-block mt-2 text-sm text-muted">Select type of product</span>
                  </div>
                </div>
                <!-- <hr class="my-5" /> -->
                <div class="row gx-4 gy-5 pb-5">
                  <div class="col-md-6"><label class="form-label">Circulation</label>
                    {{ order_form.circulation}}
                  </div>
                  <div class="col-md-6"><label class="form-label">Binding</label>
                    {{ order_form.binding}}
                  </div>
                </div>
                <!-- <hr class="my-5" /> -->
                <div class="row gx-4 gy-5">
                  <div class="col">
                    <div>
                      <label class="form-label">Width (mm)</label>
                      {{ order_form.width}}
                    </div>
                  </div>
                  <div class="cross text-xs col-sm-1 gy-18" ></div>
                  <div class="col">
                    <div>
                      <label class="form-label">Height (mm)</label>
                      {{ order_form.height}}
                    </div>
                  </div>
                </div>
                <br>
                <!-- <hr class="my-10" /> -->

<!-- ************************************************************** -->

            {{ parts_form.management_form }}
            {% for form in parts_form %}
            <div class="collapse show" id="partCard-{%  cycle '1' '2' '3' %}">
            <div class="card " >
              <div>
                <!-- <button type="button" class="part-btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
              </div>
            <div class="card-body pb-0">
              <button type="button" class="part-btn-close float-end" data-bs-toggle="collapse" data-bs-target="#partCard-{%  cycle '1' '2' '3' %}" aria-expanded="true" aria-controls="partCard-{%  cycle '0' '1' '2' %}"></button>
              <div class="d-flex justify-content-between">
                <h5 style="text-align: center;">
                  {% cycle 'Block' 'Cover' 'Insert' %}
                </h5>
              </div>
              <div class="row">
                <div class="">
                    {{ form.part_name }}
                </div>
                <div class="col gy-5">
                <div>
                  <label class="form-label">Number of pages </label>
                    {{ form.pages}}
                </div>
                </div>
                <div class="col-sm-3 gy-5">
                <div>
                  <label class="form-label">Printing color</label>
                    {{ form.color}}
                </div>
                </div>
                <div class="col gy-5">
                <div>
                  <label class="form-label">Paper</label>
                    {{ form.paper}}
                </div>
                </div>
              </div>
            </div><br>
            </div>
            </div>
            <br>
            {% endfor %}
            <div class="row gx-4">
                <div class="col-md-6">
                    <div>
                        <label class="form-label">Due date</label>
                        <div class="input-group datepicker">
                            <span class="input-group-text pe-2"><i class="bi bi-calendar"></i> </span>
                            {{ order_form.due_date }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="form-label">Delivery date</label>
                        <div class="input-group datepicker">
                            <span class="input-group-text pe-2"><i class="bi bi-calendar"></i> </span>
                            {{ order_form.delivery_date }}
                            <!-- <input type="text" class="form-control flatpickr-input" placeholder="Select date" data-input /> -->
                        </div>
                    </div>
                </div>
            </div>

                <hr class="my-10" />
                <div><label class="form-label">Description</label>
                  <textarea class="form-control" placeholder="order description ..." rows="2"></textarea>
                  </div>
                <hr class="my-5" />

                <button type="submit" form="order_form" class="btn btn-sm btn-primary"><span>Save</span></button>
            </form>
              </div>
            </div>
          </div>

{% include 'printery/user-sidebar-right.html' %}

        </div>
      </div>
    <!-- </main> -->
    <!-- End main -->
{% endblock %}
